{%extends 'base.html'%}

{% block content %}
{{block.super}}

<style>
    .home {
        background-image: url('https://media.istockphoto.com/photos/trophy-cup-abstract-3d-trophy-wreath-laurel-isolated-background-picture-id1362301010?b=1&k=20&m=1362301010&s=170667a&w=0&h=Ee2ZKLhipPYrTeOvIXWXsddOxCEQiNLHFhke9M11jag=');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 4%;
    }
</style>

<br>

<div class="container-fluid">

    <div class="home">
        <h1  class="text-center"><span style="margin-bottom: 3rem;">Welcome To Awwwards App</span></h1>
            <div class="">
                <form action="/project/project/">
                    <input type="submit" class="btn btn-outline-dark bg-dark text-white rounded-pill b-text"
                        value="Post a Project" />
                </form>
            </div>
        <div class="" style=" margin: 6%; padding: 10%;">

                <div class="forms">
                    <form class=" form" role="search" action="{% url 'search' %}">
                        <div class="input-group ">
                            <input type="text" class="form-control" placeholder="Search projects by Title"
                                name="search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"
                                        style="color: white;"></i></button>
                            </div>
                        </div>
                    </form>
                    <h1  class="text-center"><span style="margin-bottom: 3rem;">"Where your vote counts & Matters"</span></h1>
                </div>
            </div>


    </div>
    <div class="row">
        {% for pros in pro %}
        <div class="col-md-6">
    
            <div class="card-group">
                <div class="card">
                    <p>{{user.username}}</p>
                    <a href="{% url 'project_details' pros.id %}">
                        <img src="{{ pros.image.url }}" class="card-img-top responsive" alt="Personal">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Title: {{pros.title}}</h5>
                        <p class="card-text">Location: {{pros.location}}</p>
                        
    
                    </div>
                    <div class="row card-footer">
                        <div class="col-md-6">
                            <a href="{{pros.url}}" class="btn btn-outline-dark bg-dark text-white rounded-pill">View
                                Project</a>
                        </div>
                        
                        <div class="col-md-6">
                            <a href="{% url 'project_details' pros.id %}"><button class="btn btn-outline-dark bg-dark text-white rounded-pill">Rate Project</button></a>
    
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Date: {{pros.date|date}}</small>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
        {% endfor %}
    </div>
    </div>
    
</div>
{% endblock %}